<template name="ApplicationLayout">
    <header>
        <title>Trivia Crack</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" id="logo-container" class="brand-logo">Trivia Crack</a>
                    <ul class="right">
                        <li><a href="/search"><i class="material-icons left">search</i>Find Freinds</a></li>
                        <li><a href="/upload"><i class="material-icons left">vertical_align_top</i>Upload Picture</a></li>
                        <li><a href="/profile"><i class="material-icons left">account_circle</i>Profile</a></li>
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    @ RoblesC
                </div>
            </div>
        </footer>
    </body>
</template>