<template name="form">
    <div class="jumbotron">
        <form>
            <div>
                <div>
                    <input name="myForm" onsubmit="return validateForm()" type="file">
                </div>
            </div>
            <br>
            <button class="btn btn-info">Submit</button>
            <button class="btn btn-info" type="reset" value="Reset">Reset</button>
        </form>
    </div>

</template>

<template name="post">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        {{updateMasonry}}
                        <center><img width="100px" height="100px" class="img-resize rounded" src="{{this.url}}" /></center>
                        <div class="caption">
                            <center>
                                {{this.name}} {{this.message}} {{this.createdAt}}
                            </center>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        {{/each}}
    </div>
</template>