<template name="upload">
    <div class="container">
        <h4 class=" align-center">Upload Picture</h4>
        <div class="card">
            <span style="margin:15px;">{{> form}}</span>
        </div>
    </div>
</template>